<launch>
  <arg name="trinocular" default="trinocular"/>
  <arg name="image" default="image_raw"/>
  <node pkg="trinocular_view" type="trinocular_view" name="trinocular_view"
    output="screen" ns="$(arg trinocular)">
    <remap from="~left/$(arg image)" to="left/$(arg image)"/>
    <remap from="~middle/$(arg image)" to="middle/$(arg image)"/>
    <remap from="~right/$(arg image)" to="right/$(arg image)"/>
  </node>
</launch>
